@charset "UTF-8";

.su-multi-menu.su-multi-menu--dropdowns {
  .su-multi-menu__menu {
    >.su-multi-menu__item--parent {
      >.su-nav-toggle {
        &[aria-expanded=true]:active,
        &[aria-expanded=true]:focus {
          border: 1px solid $su-color-black;
        }
      }
    }
  }
}

// Removing the main navigation animations
.su-multi-menu {
  .su-multi-menu__menu {
    .su-nav-toggle {
      &[aria-expanded=false],
      &[aria-expanded=true] {
        transition: none;
      }
    }
  }
}

// Removing the arrow transform on top only.
.su-multi-menu {
  .su-multi-menu__menu-lv1 {
    .su-nav-toggle {
      &[aria-expanded=true] {
        transform: none;
      }
    }
  }
}

.su-multi-menu.su-multi-menu--dropdowns {
  @include grid-media-min('lg') {
    .su-multi-menu__menu-lv1 {
      >.su-multi-menu__item--parent {
        >.su-nav-toggle {
          top: 1rem;
        }
      }
      >.su-multi-menu__item.su-multi-menu__item--expanded {
        >a:before {
          height: 8px;
        }
      }
    }
  }
  .su-multi-menu__menu {
    >.su-multi-menu__item--parent {
      // Removed animations
      >.su-nav-toggle:hover[aria-expanded=false] {
        transform: none;
        transition: none;
      }

      // Carets and toggles and carrots.
      @include grid-media-min('lg') {
        >.su-nav-toggle {
          top: 0;
          overflow: visible;
          width: 18px;
          height: 18px;
          padding: 17px;
          border-radius: 17px;
          border: 1px solid transparent;
          margin-right: 5px;

          + ul {
            .su-nav-toggle {
              top: 8px;
            }
          }

        // What the up and down caret look like.
          &[aria-expanded=true] {
            border: 1px solid $su-color-white;

            &::before {
              background: transparent url("../../assets/svg/icon_primary_nav_caret_red.svg") no-repeat center / 25%;
            }
          }

          // Top nav.
          &::before {
            // sand colored caret
            background: transparent url("../../assets/svg/icon_primary_nav_caret.svg") no-repeat center / 25%;
            position: absolute;
            display: block;
          }

          &:focus,
          &:hover {
            border: 1px solid $su-color-black;

            &::before {
              background: transparent url("../../assets/svg/icon_primary_nav_caret_red.svg") no-repeat center / 25%;
            }
          }
        }
      }
      @include grid-media-max('md') {
        .su-nav-toggle {
          // What the up and down caret look like.
          &[aria-expanded=true] {
            &:focus {
              // border: 1px solid $su-color-black;

              &::before {
                background: transparent url("../../assets/svg/icon_expand_more_red.svg") no-repeat center / 50%;
              }
            }
          }

          &::before {
            background: transparent url("../../assets/svg/icon_expand_more_white.svg") no-repeat center / 50%;
          }

          &:focus,
          &:hover {
            &::before {
              background: transparent url("../../assets/svg/icon_expand_more_red.svg") no-repeat center / 50%;
            }
          }
        }
      }
    }
  }
}

// Font sizes, colors, hovers, flex for search button
.su-multi-menu {

  @include grid-media-min('lg') {
    // flex for search button
    display: flex;

    // top menu hovers
    .su-multi-menu__menu {
      .su-multi-menu__link {
        padding-top: 0.4rem;
        padding-bottom: 5rem;

        &::before {
          width: 4px;
        }

        &:hover,
        &:focus {
          &::before {
            @include chemh-main-nav--gradient;

            transform: none;
            visibility: visible;
            height: 0.25em;
          }

          span {
            color: $chemh-color-red;
          }

        }
      }
    }
  }

  &.su-multi-menu--dropdowns {
    .su-multi-menu__menu-lv2 {
      top: 75px; // moving the menu lower
    }

    // Removing line on arrow.
    .su-multi-menu__menu {
      >.su-multi-menu__item--parent {
        // margin: 0 30px 0 0;

        >.su-nav-toggle {

          &:hover,
          &:focus,
          &:active {
            &[aria-expanded=false] {
            }
          }

          &[aria-expanded=true] {
            &:active,
            &:focus,
            &:hover {
              // border: 1px solid;
            }
          }
        }
      }
    }


    .su-multi-menu__menu-lv1 {
      >.su-multi-menu__item {
        margin: 0 30px 0 0;

        &.su-multi-menu__item--current,
        &.su-multi-menu__item--active-trail {
          >.su-multi-menu__link {
            @include grid-media-min('lg') {
              color: $chemh-color-red;
              font-weight: $su-font-semi-bold;

              &::before {
                @include chemh-main-nav--gradient;

                height: 0.25em;
              }
            }
          }

          @include grid-media-min('lg') {
            // Active arrow red.
            >.su-nav-toggle {
              &::before {
                background: transparent url("../../assets/svg/icon_arrow_down_red.svg") no-repeat center / 25%;
              }
            }
          }

          >.su-multi-menu__item {
            &.su-multi-menu__item--active-trail {
              >.su-multi-menu__link {
                &::before {
                  @include chemh-main-nav--gradient;
                }
              }
            }
          }
        }
      }

      >.su-multi-menu__item {
        >.su-multi-menu__link {
          color: $su-color-black;
          font-size: 1.8rem;
          text-transform: uppercase;

          @include grid-media-max('md') {
            color: $su-color-white;

            &:hover,
            &:focus,
            &:active {
              span {
                color: $su-color-white;
                text-decoration: underline;
              }
            }
          }

          &:hover,
          &:focus,
          &:active {
            background-color: transparent; // override for general links.
            color: $chemh-color-red;
            text-decoration: none;
          }
        }
      }

      @include grid-media-min('lg') {
        >.su-multi-menu__item--parent {
          >.su-multi-menu__menu {
            @include chemh--shadow-main-menu;

            min-width: 300px;
            border-radius: 0 0 20px 20px;
            border-top: 4px solid $chemh-color-red;
            overflow: hidden;
          }

          >.su-multi-menu__link {
            &::after {
              border-right: 0;
              margin-left: unset;
            }

            >.su-nav-toggle {
              &:hover,
              &:focus,
              &:active {
                border-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

@include grid-media-min('lg') {
  .su-multi-menu {
    .su-multi-menu__menu-lv2,
    .su-multi-menu__menu-lv3,
    .su-multi-menu__menu-lv4,
    .su-multi-menu__menu-lv5,
    .su-multi-menu__menu-lv6 {
      >.su-multi-menu__item {
        >.su-multi-menu__link {
          padding-bottom: 1.4rem;
          padding-top: 1.4rem;

          &::before {
            background: $chemh-color-true-black;
          }

          &:hover,
          &:visited,
          &:active,
          &:focus {
            text-decoration: none;

            &::before {
              height: 100%;
              top: unset;
              background: $chemh-color-red;
            }
          }
        }

        &.su-multi-menu__item--current,
        &.su-multi-menu__item--active-trail {
          >.su-multi-menu__link {
            &::before {
              background: $chemh-color-true-black;
            }

            &:hover {
              &::before {
                background: $chemh-color-red;
              }
            }
          }
        }
      }
    }

    .su-multi-menu__menu {
      .su-multi-menu__link  {
        border-bottom: none;
      }
    }

    // Fix for deeply nested menus.
    .su-multi-menu__menu-lv5,
    .su-multi-menu__menu-lv6 {
      >.su-multi-menu__item {
        >.su-multi-menu__link {
          &:hover,
          &:visited,
          &:active {

            &::before {
              left: -15px;
            }
          }
        }
      }
    }
  }
}

// Mobile menu
@include grid-media-max('md') {
  .su-multi-menu {
    .su-multi-menu__menu {
      background-color: $chemh-color-true-black;

      .su-multi-menu__link {
        border-bottom: 1px solid $chemh-color-mid-sand;

        &:focus,
        &:hover {
          &::before {
            background-color: $chemh-color-red;
          }
        }
      }
    }

    .su-multi-menu__menu-lv1 {
      >.su-multi-menu__item {
        >.su-multi-menu__link {
          color: $su-color-white;
        }
      }
    }

    .su-multi-menu__nav-toggle {
      box-shadow: none;

      &:focus {
        background: transparent;
      }
    }
  }
}

// 1400px and smaller adjustments to the wrapping
// of the main navigation.
@media (min-width: 992px) {
  button.menu-search-button {
    margin-left: 20px;
  }
}

@media (max-width: 1400px) {
  .su-multi-menu.su-multi-menu--dropdowns {
    .su-multi-menu__menu-lv1 {
      >.su-multi-menu__item,
      >.su-multi-menu__item--parent {
        margin: 0 15px 0 0;
      }
    }
  }
}