@charset "UTF-8";

// Search icon.
.su-site-search__submit {
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  background: url("../../assets/svg/icon_search_red.svg") no-repeat 0 0;
  height: 45px;
  width: 45px;
  background-size: 45px 45px;
  top: 4.7rem;
  right: 2.5rem !important;
  opacity: 1;
  position: absolute;
  box-shadow: none !important;

  &:hover,
  &:focus {
    background: url("../../assets/svg/icon_search_red.svg") no-repeat 0 0 !important;
    background-size: 45px 45px !important;
    border-radius: unset;
  }

  &::before {
    content: none;
  }
}

// Menu search button
.su-secondary-nav {
  .menu-search-button {
    display: none;
  }
}

@include grid-media-max('md') {
  .menu-search-button {
    display: none;
  }
}

@include grid-media-min('lg') {
  .menu-search-button {
    background: url("../../assets/svg/icon_search_black.svg") no-repeat 0 0;
    align-self: center;
    padding: 1rem 1rem 1.15rem;
    height: 35px;
    width: 35px;
    background-size: 35px 35px;
    box-shadow: none;
    margin-left: 36px;

    &:hover,
    &:focus {
      background: url("../../assets/svg/icon_search_red.svg") no-repeat 0 0;
      height: 35px;
      width: 35px;
      background-size: 35px 35px;
      box-shadow: none;
    }

    &.menu-search-button-expanded {
      background: url("../../assets/svg/icon_close_red.svg") no-repeat 0 0;
      height: 35px;
      width: 35px;
      background-size: 35px 35px;
      box-shadow: none;
    }
  }
}

.su-site-search {
  // Search dropwdown in main menu
  &#block-chem-h-subtheme-search {
    max-width: 67%;
    width: calc(100% - 200px);
    margin: 0 auto;

    .show-form {
      width: auto;
    }

    form:not(.show-form) {
      display: none;
    }
  }

  form {
    padding: 3rem 0rem;

    .su-site-search__input {
      @include type-c;
      border: 0.2rem solid $chemh-color-true-black;
      padding: 3rem;
    }
  }
}

@include grid-media-min('lg') {
  .su-site-search {
    grid-area: search-field;

    &#block-chem-h-subtheme-search {
      background: $chemh-color-true-black;
      position: relative; /* child absolute */

      &::before,
      &::after {
        content: "";
        position: absolute;
        /* fill vertically */
        top: 0;
        bottom: 0;
        width: 9600px;
        right: 100%;
        background: $chemh-color-true-black;
      }

      &::after {
        left: 100%;
        background: $chemh-color-true-black;
      }
    }
  }
}

// Mobile menu search
.su-mobile-site-search {
  margin-bottom: 0;

  #block-stanford-basic-search-mobile {
    margin: 0 1.8rem 0 0;
    width: auto;

    form {
      padding: 2rem 0rem;
      border-bottom: 1px solid #5a635f;
      margin-bottom: 0;

      .su-site-search__input {
        @include type-d;
        padding: 2.5rem;
      }

      .su-site-search__submit {
        height: 35px;
        width: 35px;
        background-size: 35px 35px;
        top: 3.6rem;

        &:hover,
        &:focus {
          background-size: 35px 35px !important;
        }
      }
    }
  }
}
