@charset "UTF-8";

.page-search {

  @include grid-media-min('lg') {
    .su-multi-menu {
      display: flex;
    }

    .su-multi-menu__item:last-child {
      margin-right: 36px !important;
    }

    .menu-search-button {
      background: url("#{$su-image-path}/magnifying-glass-24px.svg") no-repeat 0 0;
      align-self: center;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      padding: 1rem 1rem 1.15rem;
      -webkit-box-shadow: none;
      box-shadow: none;
      background-size: cover;

      &:hover,
      &:focus {
        background: url("#{$su-image-path}/icon-search.svg") no-repeat 0 0;
      }

      &.menu-search-button-expanded {
        background: url("#{$su-image-path}/close-black.svg") no-repeat 0 0;
      }
    }

    .header-search {
      .show-form {
        padding: 1rem 0rem;

        .su-site-search__submit {
          top: 3.6rem;
        }
      }

      form:not(.show-form) {
        display: none;
      }
    }
  }

  .su-multi-menu {

    .su-mobile-site-search {
      .search-results {
        width: auto;
      }

      .su-site-search__submit {
        background: url("#{$su-image-path}/icon-search.svg") no-repeat 0 0;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        
        &:hover {
          background: url("#{$su-image-path}/icon-search.svg") no-repeat 0 0;
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
        }
      }
    }


    @include grid-media-max('md') {
      .menu-search-button {
        display: none;
      }
    }
  }

  .page-content {
    .block-chem-h-subtheme-pagetitle {
      h1 {
        margin-top: 0;
      }
    }

    .block-chem-h-subtheme-search-form {
      @include responsive-spacing('padding-top', 4);
      @include responsive-spacing('padding-bottom', 4);
    }

    @include grid-media-max('lg') {
      .block-chem-h-subtheme-search-form {
        max-width: calc(100% - 160px);
        width: calc(100% - 160px);
      }
    }

    @include grid-media-max('md') {
      .block-chem-h-subtheme-search-form {
        max-width: calc(100% - 100px);
        width: calc(100% - 100px);
      }
    }

    @include grid-media-max('sm') {
      .block-chem-h-subtheme-search-form {
        max-width: calc(100% - 60px);
        width: calc(100% - 60px);
      }
    }

    @include grid-media-max('xs') {
      .block-chem-h-subtheme-search-form {
        max-width: calc(100% - 40px);
        width: calc(100% - 40px);
      }
    }
    
    .search-results-page {

      .su-site-search__input {
        @include type-c;
        border: 0.2rem solid $chemh-color-true-black;
        padding: 3rem 3rem;
      }
      
      .su-site-search__submit {
        background: url("#{$su-image-path}/icon-search.svg") no-repeat 0 0;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        top: 2.4rem;
        right: 3rem;

        // &:hover {
        //   background: transparent url("#{$su-image-path}/icon-search.svg") no-repeat 0 0;
        // }

        &::before {
          content: none;
        }
      }
    }
  
    .view {
      &.search, &.results {
        
        @include grid-media-min('md') {
          .views-row {
            display: grid;
            grid-template-columns: 2fr 1fr;
          }
        }
      
        .views-field {
          &.views-field-title {
            order: 1;
          }
      
          &.views-field-search-api-excerpt  {
            order: 3;
          }
          
          &.views-field-changed  {
            order: 2;
            display: flex;
            font-style: italic;
  
            span.views-label-changed {
              margin-right: 10px;
            }
          }

          @include grid-media-min('md') {
            &.views-field-changed {
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }

}

.su-site-search {

  &.header-search {
    max-width: 50%;

    .show-form {
      padding: 1rem 0rem;

      .su-site-search__submit {
        top: 3.6rem;
      }
    }

    form:not(.show-form) {
      // background: url("#{$su-image-path}/close-black.svg") no-repeat 0 0;
      display: none;
    }
  }

  form {
    width: auto !important;
  }

  .su-site-search__input {
    @include type-c;
    border: 0.2rem solid $chemh-color-true-black !important;
    padding: 3rem 3rem !important;
  }
  
  .su-site-search__submit {
    background: url("#{$su-image-path}/icon-search.svg") no-repeat 0 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    top: 2.4rem;
    right: 3rem;
    opacity: .6;
  
    &:hover,
    &:focus {
      background: transparent url("#{$su-image-path}/icon-search.svg") no-repeat 0 0;
      opacity: 1;
      border-radius: unset;
    }
  
    &::before {
      content: none;
    }
  }
}