@charset "UTF-8";


// On desktop views, show/hide the search input with focus or hover.
@include grid-media-min('lg') {
  #chemh-button--search-link {
    &:hover,
    &:focus,
    &:focus-within {
      + .su-site-search form {
        display: block;
      }
    }
  }

  .su-site-search {
    grid-area: search-field;

    // form {
    //   display: none;
    // }
  }

  .su-site-search__submit {
    background: url("#{$su-image-path}/magnifying-glass-24px.svg") no-repeat 0 0;

    &:hover,
    &:active,
    &:focus {
      background: url("#{$su-image-path}/magnifying-glass-24px.svg") no-repeat 0 0;
    }
  }

}

@include grid-media-max('md') {
  a {
    &.su-site-search__submit {
      display: none;
    }
  }
}

.search {

  .views-row {
    // border-bottom: 1px solid $chemh-color-light-grey;

    // div:last-child {
    //   border: none;
    // }

    h2 {
      line-height: 100%;
      // @include type-b;

      a {
        // font-weight: $su-font-regular;
        // font-size: .8em;
        // @include type-a;
        // @include type-c;
        // @include type-d;
        // @include type-e;
        @include type-f;
        // @include su-type-b;
        // .su-type-b {
        //   @include type-b;
        // }
        // font-size:1.95312em;
        // letter-spacing:-.016em;
        text-decoration: underline;
      }

      // @media (max-width:767px){
      //   a {
      //     font-size:1.66016em
      //   }
      // }

    // span.field-content {
    //   display: block;
    //   padding-bottom: 1em;
    // }
    }
  }
}
