@charset "UTF-8";

@mixin chemh--shadow-custom-button-default {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

@mixin chemh--shadow-main-menu {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

@mixin chemh--shadow-system-button {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

// Used on side nav as well as other places.
@mixin chemh--shadow-system-button--big {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

@mixin chemh--shadow-system-button--small {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
