@charset "UTF-8";

// Define button mixins here
// Example: All mixin names should be prefaced with your abbreviation (saa, soe, ood, etc)

//@mixin example-button--gray {
  // button colors here

  /* don't forget to include decanter icon color overrides too;
  ** if you override a link color, you must also override the :after psuedo element
  ** so decanter icons correspond to the link color.
  */

  // Include the correct icon color mixin inside your mixins here
  //@include example--black-icons
//}

.su-button,
.su-button.su-link,
[type=button],
[type=image],
[type=reset],
[type=submit],
button {
  border: 5px solid transparent;
  border-image: linear-gradient(to right, #2b6cb0 0%, #6a324f 25%, #97385d 50%, #d7c4c8 100%);
  border-image-slice: 1;
  background-color: transparent;
  color: #000;
}

