@charset "UTF-8";

// Define button mixins here
// Example: All mixin names should be prefaced with your abbreviation (saa, soe, ood, etc)

//@mixin example-button--gray {
  // button colors here

  /* don't forget to include decanter icon color overrides too;
  ** if you override a link color, you must also override the :after psuedo element
  ** so decanter icons correspond to the link color.
  */

  // Include the correct icon color mixin inside your mixins here
  //@include example--black-icons
//}

@mixin chemh-button--gradient {
  background-color: transparent;
  color: $su-color-black;
  display: inline-block;
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 2px;
    border-radius: 6px;
    //changed for the hover color. was the $chemh-color-light-peach
    background: linear-gradient(270deg, $chemh-color-hover-peach 4.94%, $chemh-color-mid-red 45.61%, $chemh-color-dark-blue 73.57%, $chemh-color-light-blue 95%);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

@mixin chemh-button--plain {
  @include chemh--shadow-system-button;
  @include chemh--shadow-system-button--small;

  background: transparent;
  border-radius: 6px;
  padding: 9px 18px 9px 14px;

  &::before {
    background: none;
  }

  &:hover,
  &:focus {
    background: $su-color-digital-blue;
    color: $su-color-white;

    span {
      text-decoration: none;
    }
  }


  &:active {
    background: $chemh-color-true-black;
    color: $su-color-white;

    span {
      text-decoration: none;
    }
  }
}
