@charset "UTF-8";

// example mixin for black icons, which turn white on hover.
@mixin chemh--no-animation-icon {
  &:focus,
  &:hover {
    &::after {
      // -webkit-transform: translateX(0.2em);
      transform: none;
    }
  }
}


@mixin chemh--right-arrow-icon {
  &::after {
    font-family: Material Symbols Outlined;
    content: "\e941";
    mask: none;
    transition: none;
  }
}