@charset "UTF-8";

// example mixin for black icons, which turn white on hover.
@mixin chemh--no-animation-icon {
  &:focus,
  &:hover {
    &::after {
      // -webkit-transform: translateX(0.2em);
      transform: none;
    }
  }
}

@mixin chemh--right-arrow-icon {
  &::after {
    @extend .material-symbols-outlined;
    @include chemh-icon--gradient;

    content: 'arrow_right_alt';
    font-size: unset;

    // cliping the gradient
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    // Resets on code from SBT
    height: unset;
    width: unset;
    -webkit-mask: unset;
    mask: unset;
    -webkit-mask-size: unset;
    mask-size: unset;
  }
}
