@charset "UTF-8";

.su-local-footer  {
  color: $su-color-black;

  .su-local-footer__columns {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "A B C D E F";

    .su-local-footer__cell1 {
      grid-area: A;
    }

    .su-local-footer__cell2 {
      grid-area: B;
    }

    .su-local-footer__cell3 {
      grid-area: C;
    }

    .su-local-footer__cell4 {
      grid-area: D;
    }

    .su-local-footer__cell5 {
      grid-area: E;
    }

    .su-local-footer__cell6 {
      grid-area: F;
    }
  }

  .su-lockup__wordmark {
    color: $su-color-black;
  }

  .su-local-footer__header {
    display: grid;
    grid-template-columns: 25% 75%;
  }

  .su-lockup__line1,
  .su-lockup__line2,
  .su-lockup__line3,
  .su-lockup__line4,
  .su-lockup__line5 {
    color: $su-color-black;
  }

  .su-local-footer__social-links {
    i {
      &:before {
        color: $su-color-black;
      }
    }
  }

  a,
  .su-link {
    color: $su-color-black;

    &:hover,
    &:active,
    &:focus {
      color: $su-color-foggy;

      &:after {
        background-color: $su-color-black;
      }
    }

    &:after {
      background-color: $su-color-black;
    }

    &.su-link--external,
    &.mailto svg {
      color: $su-color-black;
      fill: $su-color-black;

      &:hover,
      &:active,
      &:focus {
        fill: $su-color-foggy;

        &:after {
          background-color: $su-color-foggy;
        }
      }

      &:after {
        background-color: $su-color-black;
      }
    }
  }

  .su-local-footer__action-links {
    a {
      color: $su-color-black;

      &:hover,
      &:active,
      &:focus {
        color: $su-color-foggy;
      }
    }
  }

  a,
  .su-link--external {

    &.su-button,
    &.su-button,
    &.su-button--big {
      color: $su-color-black;
      fill: $su-color-black;

      &:hover,
      &:active,
      &:focus {
        fill: $su-color-black;

        &:after {
          background-color: $su-color-black;
        }
      }

      &:after {
        background-color: $su-color-black;
      }
    }
  }
}

nav[aria-label^='footer'] {
  a,
  a.su-link--external {
    color: $su-color-black;

    &:hover,
    &:active,
    &:focus {
      color: $su-color-foggy;

      &:after {
        background-color: $su-color-black;
      }
    }

    &:after {
      background-color: $su-color-black;
    }
  }
}