@charset "UTF-8";

.su-local-footer  {
  background-color: $su-color-white;
  color: $su-color-black;

  // Footer header - lockup and email sign up
  .su-local-footer__header {
    display: grid;
    grid-template-columns: 25% 75%;
  }

  .su-signup-form {
    display: flex;

    .su-intro-text {
      font-size: 2.5rem;
      font-weight: $su-font-bold;
      line-height: 112%;
      letter-spacing: -0.02em;
      margin-right: 0.4em;
    }

    form {
      width: 100%;

      input {
        display: inline;
      }

      input[type="email"] {
        border-radius: 6px;
        background-color: $chemh-color-light-grey;
        box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.12);
        height: 5.9rem;
        margin-right: 1.5rem;
      }

      .gradient-wrapper {
        @include chemh-button--gradient;
      }
    }
  }

  .su-lockup__wordmark {
    color: $chemh-color-black;
  }

  .su-lockup__line1,
  .su-lockup__line2,
  .su-lockup__line3,
  .su-lockup__line4,
  .su-lockup__line5 {
    color: $chemh-color-black;
  }


  // Link column setup
  .su-local-footer__columns {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "A B C D E F"
    "G . . . . .";

    .su-local-footer__cell1 {
      grid-area: A;
    }

    .su-local-footer__cell2 {
      grid-area: B;
    }

    .su-local-footer__cell3 {
      grid-area: C;
    }

    .su-local-footer__cell4 {
      grid-area: D;
    }

    .su-local-footer__cell5 {
      grid-area: E;
    }

    .su-local-footer__cell6 {
      grid-area: F;
    }

    .su-local-footer__cell7 {
      grid-area: G;
    }
  }

  // Social links
  .su-local-footer__social-links {
    li {
      float: unset;
    }

    a {
      span {
        border: unset;
        clip: unset;
        height: unset;
        margin: unset;
        overflow: unset;
        padding: unset;
        position: unset;
        width: unset;
      }
    }

    i {
      padding-right: .5em;

      &:before {
        color: $chemh-color-black;
      }
    }
  }

  // Link colors, size
  a,
  .su-link {
    color: $chemh-color-digital-blue;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
      color: $su-color-foggy;
      text-decoration: none;

      &:after {
        @include chemh-icon--gradient;
      }
    }

    &:after {
      @include chemh-icon--gradient;
    }

    &.su-link--external,
    &.mailto svg {
      color: $chemh-color-digital-blue;
      fill: $chemh-color-digital-blue;


      &:hover,
      &:active,
      &:focus {
        fill: $su-color-foggy;

        &:after {
          @include chemh-icon--gradient;
        }
      }

      &:after {
        background-color: $chemh-color-digital-blue;
      }
    }
  }

  .su-local-footer__action-links {
    a {
      color: $chemh-color-digital-blue;
      font-size: 1.19em;
      font-weight: normal;
      text-decoration: underline;

      &:hover,
      &:active,
      &:focus {
        color: $su-color-foggy;
        text-decoration: none;
      }
    }
  }

  a,
  .su-link--external {

    &.su-button,
    &.su-button,
    &.su-button--big {
      color: $chemh-color-digital-blue;
      fill: $chemh-color-digital-blue;

      &:hover,
      &:active,
      &:focus {
        fill: $chemh-color-digital-blue;

        &:after {
          background-color: $chemh-color-digital-blue;
        }
      }

      &:after {
        background-color: $chemh-color-digital-blue;
      }
    }
  }
}

nav[aria-label^='footer'] {
  a,
  a.su-link--external,
  a.su-link {
    color: $chemh-color-digital-blue;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
      color: $su-color-foggy;
      text-decoration: none;

      &:after {
        background-color: $chemh-color-digital-blue;
      }
    }

    &:after {
      background-color: $chemh-color-digital-blue;
    }
  }
}