@charset "UTF-8";

// For all headers.
.su-brand-bar__container {
  display: flex;

  .su-brand-bar__logo {
    width: 10%;
  }
}

.su-masthead {
  a {
    &:hover,
    &:focus,
    &:active {
      background-color: transparent; // override for general links.
    }
  }

  .su-lockup--option-none {
    .su-lockup__custom-logo {
      max-width: 281px;

      @media (min-width: 1021px) {
        margin-bottom: 1.6em;
      }

      @media (max-width: 1020px) {
        max-width: 225px;
      }
    }
    // Override for Stanford Basic
    .su-lockup__cell1 {
      max-width: unset;
    }
  }


}

@include grid-media-min('md') {
  .su-masthead .region-search {
    max-width: 100%;
  }

  .su-masthead .region-header {
    flex: unset;
    max-width: fit-content;
    align-self: center;
  }
}

@include grid-media-min('lg') {
  .su-masthead {
    //chemh-masthead
    >section:last-of-type {
      // Grid setup.
      display: grid;
      grid-template-columns: 281px 1fr;

      align-items: end;
      padding-bottom: 0;
      max-width: $chemh-site-max-width;
      margin: 0 auto;
      // width: calc(100% - 50px);

      .region-header {
        grid-row: span 2 / span 2;
      }

      .region-menu {
        grid-column-start: 2;
      }

      @media (max-width: 1400px) {
        display: grid;
        grid-template-columns: 281px 1fr;
        grid-template-areas: "lockup utility utility"
          "lockup main-nav main-nav ";
      }
    }
  }

  // Header color outside in the margins.
  section {
    position: relative; /* child absolute */
  }
}

@media only screen and (min-width: 1021px) and (max-width: 1450px) {
  .su-masthead {
    //chemh-masthead
    >section:last-of-type {
      // Switch to flex.
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .su-multi-menu.su-multi-menu--right {
        .su-multi-menu__menu-lv1,
        >ul {
          justify-content: center;
          gap: 0.2em;
        }
      }
    }
  }
}
