@charset "UTF-8";

// For all headers.
.su-brand-bar__container {
  display: flex;

  .su-brand-bar__logo {
    width: 10%;
  }
}

.su-masthead {
  a {
    &:hover,
    &:focus,
    &:active {
      background-color: transparent; // override for general links.
    }
  }

  .su-lockup--option-none {
    .su-lockup__custom-logo {
      max-width: 281px;
    }
  }
}

@include grid-media-min('lg') {

  .su-masthead {
    //chemh-masthead
    >section:last-of-type {
      // Grid setup.
      display: grid;
      grid-template-columns: 281px 1fr;
      grid-template-areas: "lockup main-nav"
      "search-field search-field";
      align-items: end;
      padding-bottom: 0;
      max-width: $chemh-site-max-width;
      margin: 0 auto;
      width: calc(100% - 50px);

      .su-lockup {
        grid-area: lockup;
        margin-bottom: 3.4rem;
      }

      .su-multi-menu {
        grid-area: main-nav;
      }
    }
  }

  // Header color outside in the margins.
  section {
    position: relative; /* child absolute */
  }
}
