@charset "UTF-8";

$card-circle--width: 220px;

.paragraph--type--stanford-card,
.ptype-stanford-card {

  .su-horizontal-card-wrapper--small-circle {
    .su-card {
      background: $su-color-black url("../../assets/svg/fullpill-bg.svg") no-repeat 100% / 100%;
      border-radius: 150px;
      color: $su-color-white;

      display: flex;
      align-items: center;


      & > .image {
        @include grid-media-min('sm') {
          max-width: $card-circle--width;
          min-width: $card-circle--width;

          margin-left: 50px;

          img {
            border-radius: 50%;
          }
        }

      }

      .su-card__contents {

        h2 {
          @include responsive-spacing('margin-bottom', -1);
          @include chemh-heading--badge;

          color: $su-color-white;
          max-width: 80%;
        }

        .su-card__link,
        .su-card__button {
          @include responsive-spacing('margin-top', 3);
        }
      }
    }

    &.su-card-wrapper--border-regular {
      .su-card {
        & > .image {
          margin-left: 0;
          margin-bottom: 0;
        }

        .su-card__contents {
          padding: 0;
        }

        .su-card__button {
          margin-bottom: 0;
        }
      }
    }
  }

  // Link colors.
  .su-wrapper--button-purple,
  .su-wrapper--button-purple {
    .su-button,
    .su-card__button {
      a {
        color: $su-color-white;
      }
    }
  }

  .su-button:not(.su-link--external):after,
  .su-button:not(.su-link--external):after {
    background: url(../../assets/svg/icon_east_white.svg) no-repeat 0 0;
  }
}
