@charset "UTF-8";

// Person teasers
.paragraph--type--stanford-entity {  
  .su-card {
    background-color: $su-color-black;
    margin-top: 5rem;
    border: none;

    .su-person-photo {
      padding-bottom: 0;
    }

    .field-media-image {
      position: relative;
      bottom: 5rem;

      &::after {
        @include chemh-news-card--gradient;

        content: '';
        height: 0.25em;
        display: block;
      }
  
      img {
        border-radius: 0;
        border-top-right-radius: 40px;
      }
    }

    .su-card__contents {
      text-align: start;
      padding-top: 0;
      position: relative;
      bottom: 2rem;
      padding-bottom: 2rem;
      
      h2 {
        margin-bottom: 0.5rem;

        a {
          // @include type-f;
          font-size: 0.8em;
          color: $su-color-white;
        }
      }

      .su-person-short-title {
        color: $su-color-white;
        font-style: italic;
        font-weight: 300;
      }
    }
  }

  // One teaser
  @include grid-media-min('sm') {
    .su-entity-item>div:first-child:last-child .ds-entity--stanford-person .su-card {
      .su-person-photo {
        padding-bottom: 30px;
    
        .field-media-image {
          bottom: 0;
        }
      }
  
      .su-card__contents {
        bottom: 0;
        padding-top: unset;
        padding-bottom: unset;
      }
    }
  }
}

