@charset "UTF-8";

// Person lists
.stanford-people-grid,
.taxonomy-term-pages.people-terms {
  li {
    background-color: #2e2d29;
    padding-left: 3.6rem;
    padding-right: 3.6rem;
    padding-top: 0;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    position: relative;
    top: 0;


    .views-field-title {
      bottom: 2rem;
      position: relative;

      a {
        &:hover,
        &:focus,
        &:active {
          color: $su-color-white;
        }

        .field-media-image {
          position: relative;
          padding-bottom: 2rem;

          @media only screen and (max-width: 767px) and (min-width: 400px)  {
            padding-right: 6rem;
            padding-left: 6rem;
          }
    
          &::after {
            @include chemh-news-card--gradient;
    
            content: '';
            height: 0.25em;
            display: block;
          }
    
          img {
            border-radius: 0;
            border-top-right-radius: 40px;
            width: 100%;
          }
        }
      }
  
      h2,
      h3 {
        letter-spacing: -.016em;
        color: $su-color-white;
        line-height: 1.4;
      }
    }

    .views-field-su-person-short-title {
      color: $su-color-white;
      font-style: italic;
      font-weight: 300;
      bottom: 1rem;
      position: relative;
    }

    .views-field-edit-node {
      bottom: 1rem;
      position: relative;
    }
  }
}
