@charset "UTF-8";

// Person teasers
.stanford-people-grid {
  a {
    color: $su-color-white;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: $su-color-white;
      text-decoration: underline;

      .su-person-short-title {
        text-decoration: none;
      }
    }
  }
}

.ds-entity--stanford-person {
  .su-card {
    container-type: inline-size;
    background-color: $su-color-black;
    margin-bottom: 2rem;
    border: none;

    .su-person-photo {
      padding: 0;
    }

    @container (min-width: 400px) {
      .su-person-photo {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .field-media-image {
      position: relative;
      bottom: 2rem;

      &::after {
        @include chemh-news-card--gradient;

        content: '';
        height: 0.25em;
        display: block;
      }

      img {
        border-radius: 0;
        border-top-right-radius: 40px;
      }
    }

    .su-card__contents {
      text-align: start;
      padding-top: 0;
      padding-bottom: 5rem;

      h2,
      h3 {
        color: $su-color-white;
        font-size: 1.4em;
        margin-bottom: 0.5rem;
      }

      .su-person-short-title {
        color: $su-color-white;
        font-weight: 300;
        text-decoration: none;
      }
    }
  }
}

// Individual teaser in one column layout
@include grid-media-min('sm') {
  .layout--layout-paragraphs-one-column .paragraph--type--stanford-entity .su-entity-item>div:first-child:last-child .ds-entity--stanford-person .su-card {
    display: block;

    .su-person-photo {
      width: unset;
      margin: 0 auto;
    }
  }
}
