@charset "UTF-8";

// Person photo
// .content .layout--section-person-header .su-quote__media.flex-2-of-12 .field-media-image {
//   border-radius: 0;
//   border-top-right-radius: 40px;
//   @include chemh-news-card--gradient;
// }

.content {
  .layout--section-person-header {
    .su-quote__media.flex-2-of-12 {

      .media-entity-wrapper {
        >* {
          &::after {
            @include chemh-news-card--gradient;
    
            content: '';
            height: 0.25em;
            display: block;
          }
        }

        .field-media-image {
          border-radius: 0;
          border-top-right-radius: 40px;
        }
      }

    }

  }
}
