@charset "UTF-8";

// Header color outside in the margins.
.node-stanford-page-su-page-banner {
  margin-bottom: 0;
}

.block--page-title,
.node-stanford-page-title {
  padding-top: 6.5rem;
  padding-bottom: 3.1rem;
  margin-top: 0;
}

.block--page-title,
.node-stanford-page-title {
  background: $chemh-color-true-black url("../../assets/png/header-sm-000--cropped.png") no-repeat center/cover;
  position: relative; /* child absolute */

  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow-x: hidden;

  @include grid-media-max('md') {
    background: $chemh-color-true-black url("../../assets/png/header-000-mobile--cropped.png") no-repeat center/cover;
  }

  h1 {
    color: $su-color-white;
    // margin-left: calc(100%-200px); <-- needs a dynamic margin-left here
  }
}
