@charset "UTF-8";

// Header color outside in the margins.
.node-stanford-page-su-page-banner {
  margin-bottom: 0;
}

.block--page-title,
.node-stanford-page-title {
  padding-top: 6.5rem;
  padding-bottom: 3.1rem;
  margin-top: 0;
}

.block--page-title,
.node-stanford-page-title {
  background: $chemh-color-true-black url("../../assets/png/header-sm-000--cropped.png") no-repeat center/cover;
  position: relative; /* child absolute */

  @include grid-media-max('md') {
    background: $chemh-color-true-black url("../../assets/png/header-000-mobile--cropped.png") no-repeat center/cover;
  }

  h1 {
    color: $su-color-white;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    /* fill vertically */
    top: 0;
    bottom: 0;
    width: 9600px;
    right: 100%;
    background: $chemh-color-true-black;
  }

  &::after {
    left: 100%;
    background: $chemh-color-true-black;
  }
}
