@charset "UTF-8";

// override default button styles here and add
// additional button classes as needed.
main,
footer {
  .su-button.su-link,
  .su-button,
  button {
    @include chemh-button--gradient;
    @include modular-spacing('padding', 1);

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      color: #000;
    }
  }

  [type=button],
  [type=submit] {
    background-color: transparent;
    color: $su-color-black;
    display: inline-block;
  }
}

// WYSIWYG BUTTONS
.su-wysiwyg-text {
  .su-button,
  .su-button--big {
    @include chemh-button--gradient;

    &:hover,
    &:focus,
    &:active {
      background-color: transparent
    }
  }

  .su-button--secondary {
    box-shadow: 0 0 0 2px $chemh-color-purple;
  }
}

.su-button {
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
  }
}

// Card & Banner buttons
.su-wrapper--button-purple {
  .su-button,
  .su-card__button {
    a {
      @include chemh-button--gradient;
    }
  }
}

.su-wrapper--button-teal {
  .su-button,
  .su-card__button  {
    a {
      @include chemh-button--gradient;
    }
  }
}

.su-wrapper--button-red {
  .su-button,
  .su-card__button  {
    a {
      @include chemh-button--gradient;
    }
  }
}
