@charset "UTF-8";

// override default button styles here and add
// additional button classes as needed.
// links styled into buttons

.su-button,
.su-button.su-link,
.su-button.su-link--external,
.su-button--big,
.su-button--big.su-link--external,
.su-button--big.su-link,
.stanford-news-vertical-teaser-term .more-link a,
.node.event .more-link a,
[type=button],
[type=image],
[type=reset],
[type=submit],
button {
  @include chemh--shadow-system-button--big;

  color: $su-color-black;
  text-decoration: none;
  background-color: transparent;
  border-radius: 6px;
  font-weight: 600;
}

.su-button--secondary {
  font-weight: 600;

  &.su-link--external {
    color: $chemh-color-red;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: $su-color-black;
    }
  }
}

.su-button--big,
.su-button--big.su-link--external,
.su-button,
.su-button.su-link,
.su-button.su-link--external,
.stanford-news-vertical-teaser-term .more-link a,
.node.event .more-link a,
[type=button],
[type=image],
[type=reset],
[type=submit],
button {
  &:hover,
  &:focus {
    @include chemh-button--hover-gradient;

    border-radius: 6px;
    color: $su-color-white;
    text-decoration: underline;

    &::after {
      background-color: $su-color-white;
    }
  }
}

// Active links
.su-button--big,
.su-button--big.su-link--external,
.su-button,
.stanford-news-vertical-teaser-term .more-link a,
.node.event .more-link a,
[type=button],
[type=image],
[type=reset],
[type=submit],
button {
  &:active {
    background: $chemh-color-true-black;
    border-radius: 6px;
    color: $su-color-white;

    &::before {
      background: $su-color-black;
    }

    &:after {
      background-color: $su-color-white;
    }
  }
}

main,
footer {
  .su-button.su-link,
  .su-button,
  .su-button--big.su-link,
  .su-button--big,
  .stanford-news-vertical-teaser-term .more-link a,
  .node.event .more-link a,
  button {
    @include chemh-button--gradient;
    @include modular-spacing('padding', 0);

    &:hover,
    &:focus,
    &:active {
      color: $su-color-white;
      text-decoration: none;
    }
  }

  [type=button],
  [type=submit],
  [type=reset] {
    color: $su-color-black;
    display: inline-block;
  }

  // Button icons
  .su-button,
  .su-button--big {
    &.mailto {
      svg {
        margin-left: 1rem;
      }
    }

    &.su-link--external {
      &::after {
        margin-left: 1rem;
      }
    }
  }

  .su-button,
  .stanford-news-vertical-teaser-term .more-link a,
  .node.event .more-link a {
    &.su-link--external {
      &::after {
        height: 12px;
        width: 12px;
      }
    }

    &:not(.su-link--external) {
      &::after {
        content: "";
        background: url("../../assets/svg/icon_east_black.svg") no-repeat 0 0;
        height: 18px;
        width: 23px;
        background-size: 23px 23px;
        box-shadow: none;
        display: inline-block;
        position: relative;
        margin-left: 1.8rem;
      }

      &:hover,
      &:focus,
      &:active {
        &::after {
          background: url("../../assets/svg/icon_east_white.svg") no-repeat 0 0;
          background-size: 23px 23px;
        }
      }

      &.mailto,
      &.simplesamlphp-auth-login-link,
      &.samlauth-login {
        &::after {
          content: none;
        }
      }

      &.samlauth-login {
        color: $su-color-white;
      }

    }
  }

  .su-button--big {
    &:not(.su-link--external) {
      &::after {
        content: "";
        background: url("../../assets/svg/icon_east_black_big.svg") no-repeat 0 0;
        height: 26px;
        width: 36px;
        background-size: 33px 33px;
        box-shadow: none;
        display: inline-block;
        position: relative;
        margin-left: 1.8rem;
      }

      &:hover,
      &:focus,
      &:active {
        &::after {
          background: url("../../assets/svg/icon_east_white_big.svg") no-repeat 0 0;
          background-size: 33px 33px;
        }
      }

      &.mailto {
        svg {
          height: 26px;
          width: 30px;
        }

        &::after {
          content: none;
        }
      }
    }
  }
}

// Big Button extra icon color.
a {
  &.su-link--external {
    &.su-button--big {
      &::after {
        background-color: $su-color-black;
      }
    }
  }
}

#back-to-top {
  background-color: $chemh-color-red;
  color: $su-color-white;
}

.filter-menu {
  .topics__collapsable-menu {
    box-shadow: none;
    border-radius: 0;

    &:focus {
      background: none;
    }
  }
}

.su-events-details {
  .su-event-cta {
    &.su-button {
      a {
        &::after {
          display: none;
        }

        color: unset;

        &:hover {
          background-color: unset;
        }
      }
    }
  }
}

// Button Grid
.chemh-button-grid {
  display: grid;
  grid-auto-rows: 1fr;
  gap: 2rem;

  @include grid-media-min('sm') {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 4rem;
  }

  @include grid-media-min('lg') {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 5rem;
  }

  a.su-button,
  a.su-button--big,
  a.su-button--secondary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    margin: 0;

    &::after {
      margin-left: .5rem;
      flex-shrink: 0;
    }
  }
}
