@charset "UTF-8";

// override default button styles here and add
// additional button classes as needed.
// links styled into buttons

.su-button,
.su-button.su-link,
.su-button--big,
.su-button--big.su-link,
[type=button],
[type=image],
[type=reset],
[type=submit],
button  {
  @include chemh--shadow-system-button--big;

  background-color: transparent;
  border-radius: 6px;
  text-decoration: underline;
}

.su-button--big.su-link:focus,
.su-button--big.su-link:hover,
.su-button.su-link:focus,
.su-button.su-link:hover,
.su-button:focus,
.su-button:hover,
[type=button]:focus,
[type=button]:hover,
[type=image]:focus,
[type=image]:hover,
[type=reset]:focus,
[type=reset]:hover,
[type=submit]:focus,
[type=submit]:hover,
button:focus,
button:hover {
  @include chemh-button--hover-gradient;

  border-radius: 6px;
  color: $su-color-white;
  text-decoration: none;
}

// Active links.
.su-button.su-link:active,
.su-button:active,
[type=button]:active,
[type=image]:active,
[type=reset]:active,
[type=submit]:active,
button:hover {
  background: $chemh-color-true-black;
  border-radius: 6px;
  color: $su-color-white;

  &:after {
    background-color: $su-color-white;
  }
}


main,
footer {
  .su-button.su-link,
  .su-button,
  button {
    @include chemh-button--gradient;
    @include modular-spacing('padding', 0);

    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      color: $su-color-white;
      text-decoration: none;
    }
  }

  [type=button],
  [type=submit] {
    // background-color: transparent;
    color: $su-color-black;
    display: inline-block;
  }
}

// WYSIWYG BUTTONS
.su-wysiwyg-text {
  .su-button,
  .su-button--big {
    @include chemh-button--gradient;

    border-radius: 6px;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      @include chemh-button--hover-gradient;

      color: $su-color-white;
      text-decoration: none;
    }
  }
}

// Big Button extra icon color.
a {
  &.su-link--external {
    &.su-button--big {
      &::after {
        background-color: $su-color-black;
      }
    }
  }
}

#back-to-top {
  background-color: $chemh-color-red;
}

// Card & Banner buttons
// TEST AND THEN REMOVE CODE
.su-wrapper--button-purple {
  .su-button,
  .su-card__button {
    a {
      @include chemh-button--gradient;
    }
  }
}

.su-wrapper--button-teal {
  .su-button,
  .su-card__button  {
    a {
      @include chemh-button--gradient;
    }
  }
}

.su-wrapper--button-red {
  .su-button,
  .su-card__button  {
    a {
      @include chemh-button--gradient;
    }
  }
}

