@charset "UTF-8";

// Headings

h1 {
  font-weight: $su-font-black;
  line-height: 110%;
  /* identical to box height, or 61px */
  color: $su-color-black;
  letter-spacing: -0.03em;
}

h2 {
  @include type-a;
  font-weight: $su-font-black;
  line-height: 110%;
  /* identical to box height, or 55px */
  letter-spacing: -0.05em;
  color: $su-color-black;
}

h3 {
  @include type-b;
  font-weight: $su-font-bold;
  /* identical to box height, or 149% */
  letter-spacing: -1.5px;
  color: $chemh-color-true-black;
}

h4 {
  @include type-c;
  font-weight: $su-font-bold;
  /* identical to box height, or 136% */
  letter-spacing: -1px;
  color: $chemh-color-true-black;
}

h5 {
  @include type-c;
  font-weight: $su-font-bold;
  /* identical to box height, or 136% */
  letter-spacing: -1px;
  color: $chemh-color-true-black;
}
