@charset "UTF-8";

// text links.
.su-link--external {
  &:hover,
  &:focus {
    &::after {
      background-color: $chemh-color-digital-blue;
    }
  }
}

a,
a.su-link--external,
a.su-link {
  color: $chemh-color-digital-blue;

  &:hover,
  &:focus {
    color: $chemh-color-digital-blue;
    background-color: $chemh-color-hover-blue;
  }

  &:after {
    background-color: $chemh-color-digital-blue;
  }

  &:active {
    color: $chemh-color-red;
  }
}

// button links
.su-button.su-link:focus,
.su-button.su-link:hover,
.su-button:focus,
.su-button:hover,
[type=button]:focus,
[type=button]:hover,
[type=image]:focus,
[type=image]:hover,
[type=reset]:focus,
[type=reset]:hover,
[type=submit]:focus,
[type=submit]:hover,
button:focus,
button:hover {
  @include chemh-button--hover-gradient;

  border-radius: 6px;
  color: $su-color-white;
}

// Active links.
.su-button.su-link:active,
.su-button:active,
[type=button]:active,
[type=image]:active,
[type=reset]:active,
[type=submit]:active,
button:hover {
  background: $chemh-color-true-black;
  border-radius: 6px;
  color: $su-color-white;

  &:after {
    background-color: $su-color-white;
  }
}

a {
  &.su-link {
    &.su-button {
      &:active {
        &::before {
          background: none; //Removes gradient border.
        }
      }
    }
  }
}

// External link color override
a {
  &.su-link--external {
    &.su-button {
      &:after {
        background-color: $su-color-black;
      }
    }
  }
}

