@charset "UTF-8";

// text links.
.su-link--external {
  &:hover,
  &:focus {
    &::after {
      background-color: $chemh-color-digital-blue;
    }
  }
}

a,
a.su-link--external,
a.su-link {
  color: $chemh-color-digital-blue;

  &:hover,
  &:focus {
    color: $chemh-color-digital-blue;
    background-color: $chemh-color-hover-blue;
  }

  &:after {
    background-color: $chemh-color-digital-blue;
  }

  &:active {
    color: $chemh-color-red;
  }
}

a {
  &.su-link {
    &.su-button {
      &:active {
        &::before {
          background: none; //Removes gradient border.
        }
      }
    }
  }
}

// External link color override
a {
  &.su-link--external {
    &.su-button {
      &:after {
        background-color: $su-color-black;
      }
    }
  }
}

