@charset "UTF-8";

// text links.
.su-link--external {
  &:hover,
  &:focus,
  &:active {
    &::after {
      background-color: $su-color-cardinal-red-dark;
    }
  }
}

a,
a.su-link--external,
a.su-link {
  color: $chemh-color-digital-blue;

  &:hover,
  &:focus {
    color: $su-color-cardinal-red-dark;

    &::after {
      background-color: $su-color-cardinal-red-dark;
    }
  }

  &:after {
    background-color: $chemh-color-digital-blue;
  }

  &:active {
    color: $su-color-cardinal-red-dark;
  }
}

a {
  &.su-link {
    &.su-button {
      &:active {
        &::before {
          background: none; //Removes gradient border.
        }
      }
    }
  }
}

// External link color override
a {
  &.su-link--external {
    &.su-button {
      &:after {
        background-color: $su-color-black;
      }
    }
  }
}

// Icon alignment for CTA links.
a {
  &.su-link--action {
    color: $su-color-black;
    position: relative;
    text-decoration: none;

    &::after {
      position: relative;
      display: inline-block;
      top: 4px;
    }

    &:hover,
    &:focus {
      color: $chemh-color-digital-blue;

      &::after {
        text-decoration: none;
      }
    }

    // Action link with a mailto
    &.mailto {
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &.mailto {
    svg {
      fill: $chemh-color-digital-blue;

      &:hover,
      &:focus {
        fill: $su-color-cardinal-red-dark;

        &::after {
          fill: $su-color-cardinal-red-dark;
        }
      }
    }
  }
}

// Mailto icon change.
a {
 &.mailto {
   &.su-button,
   &.su-button--big {
    &:hover,
    &:focus,
    &:active {
      svg {
        fill: $su-color-white;
      }
    }

    svg {
      fill: $su-color-black;

      &:hover,
      &:focus,
      &:active {
        fill: $su-color-white;
      }
    }
   }
  }
}

// More news link
.more-link {
  padding-top: 40px;
}

// News list overrides.
.su-news-list {
  .su-news-list__header {
    a {
      &.su-link--external {
        &::after {
          background-color: $su-color-black;
        }

        &:hover,
        &:focus {
          color: $chemh-color-digital-blue;

          &::after {
            background-color: $chemh-color-digital-blue;
          }

          h2 {
            color: $chemh-color-digital-blue;
          }
        }
      }

      &:hover,
      &:focus {
        color: $chemh-color-digital-blue;

        h2 {
          color: $chemh-color-digital-blue;
        }
      }
    }
  }
}


