@charset "UTF-8";

.ptype-stanford-lists,
.ptype-stanford-entity {
  .su-list-headline,
  .su-entity-headline {
    margin-bottom: 10rem;

    h2 {
      @include chemh-heading--badge;

      text-align: left;
    }
  }
}

.container-1-items,
.container-2-items,
.container-3-items {
  .ptype-stanford-lists {

    .field--name-su-list-view,
    .field--name-su-list-view,
    .field--name-su-list-view {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
